body{
    margin: 0;
}

video, input {
    display: block;
    max-width: 1800px;
}

input {
    width: 90%;
}

.info {
    background-color: aqua;
}

.error {
    background-color: red;
    color: white;
}

.cap-canvas {
    border: 1px solid black;
    width: 200px;
}


#timetext {
    text-align: right;
    font-family: monospace;
    display: inline-block;
    width: 6em;
    font-size: 1.2em;
    padding: 15px;
}
        